<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Home</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
	<div class="container">
      <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills float-right">
            <li class="nav-item">
              <a class="nav-link" href="/">Главная</a>
            </li>
            {{#if user}}
              <li class="nav-item">
              <a class="nav-link" href="/users/profile">Профиль</a>
            </li>
             <li class="nav-item">
              <a class="nav-link" href="/users/logout">Выйти</a>
            </li>

            {{else}}
            <li class="nav-item">
              <a class="nav-link" href="/users/register">Регистрация</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/users/login">Залогиниться</a>
            </li>
            {{/if}}
          </ul>
        </nav>
      	</div>
    	<div class="row">
	      	<div class="col-lg-12">
        {{#if success_msg}}
        <div class="alert alert-success">{{success_msg}}</div>
        {{/if}}
        {{#if error_msg}}
        <div class="alert alert-danger">{{error_msg}}</div>
        {{/if}}
        {{#if error}}
        <div class="alert alert-danger">{{error}}</div>
        {{/if}}

			{{{body}}}
			<hr>
			</div>
	      	<footer class="footer">
	        <p>&copy; Create by Kuzub Vera 2019</p>
	      	</footer>
  		</div>
	</div>
  </body>
</html>

